.add-photo {
  background-color: @bg-color--2;
}
.add-photo__intro {
  line-height: 30px;
  background-color: @bg-color--1;
  text-align: center;
}
.btn--add-photo {
  color: @text-color;
  border-color: @text-color;
  opacity: 0.1;
  width: 280px;
}
.btn--add-photo--active {
  color: @pink;
  border-color: @pink;
  opacity: 1;
}
