.btn--download-banner {
  color: @bg-color--1;
  border-color: @bg-color--1;
}

.download-banner {
  background-color: rgb(29,38,49);
  color: @bg-color--1;
  padding: 26px 0;
}

.download-banner__apps-list-comment {
  font-family: @font--lighter;
  font-weight: 300;
}
