.page-header {
  margin: 0;
  padding: 0;
  background-color: rgb(40, 54, 69);
  width: @mobile-width;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .logo-pink-white {
    &-mobile {
      display: block;
    }

    &-tablet {
      display: none;
    }

    &-desktop {
      display: none;
    }
  }
}

.page-header__logo-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.page-header__logo-link {
  width: 74px;
  height: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.page-header__logo-svg {
  width: 74px;
  height: 22px;
  fill: rgb(255, 255, 255);

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;

    &--index {
      margin-bottom: 0;
    }

    .logo-pink-white {
      &-mobile {
        display: none;
      }

      &-tablet {
        display: block;
      }

      &-desktop {
        display: none;
      }
    }
  }

  .page-header__logo-line {
    height: 110px;
  }

  .page-header__logo-link {
    width: 150px;
    height: 42px;
    padding-bottom: 10px;
  }

  .page-header__logo-svg {
    width: 150px;
    height: 42px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    background-color: rgba(0, 0, 0, 0.3);

    .logo-pink-white {
      &-mobile {
        display: none;
      }

      &-tablet {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }
  }

  .page-header__upper-line {
    display: flex;
    justify-content: space-between;
  }
}
