.promo__features-header {
  color: rgb(0,0,0);
  font-size: 18px;
  font-family: @font--bold;
  font-weight: 700;
}
.promo__features-list {
  background-color: @bg-color--2;
}
.promo__features-item--filter--smile {
  background-image: url(../../img/iphone-screen-mobile.png);
  background-repeat: no-repeat;

}
