.share {
  padding-top: 40px;
  margin-bottom: 20px;
}

.share__btn--submit {
  background-color: rgb(41, 171, 109);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.share__form {
  display: flex;
  flex-direction: column;
}

.share__form__achievement-item,
.share__form__app-item {
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  &:last-child {
    padding-bottom: 0;
  }
}

.share__form-field {
  &--sender + &--sender,
  &--contacts + &--contacts {
    margin-top: 15px;
  }
}

.share__form__fieldset {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: none;
  outline: 1px solid grey;
}

.share__form__fieldset:nth-child(2n) {
  background-color: @bg-color--2;
}

.share__form__contacts-fieldset {
  .share__form-legend {
    display: none;
  }
}

.share__form__sender-fieldset {
  .share__form-legend {
    display: none;
  }
}

.share__form__header-style {
  color: @pink;
  text-transform: uppercase;
}

.share__form-input--radio,
.share__form-input--checkbox {
  display: none;
}

.share__form-input--checkbox:checked + .share__form-label--checkbox::before {
  background-image: url("../../img/icon-yes.svg");
  background-size: 20px 20px;
  }

  .share__form-input--radio:checked + .share__form-label--radio::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -40px;
    top: 8px;
    z-index: 1;
    background-color: @pink;
  }

.share__form-label--radio {
  &::before {
    border-radius: 50%;
  }
}

.share__form-input--text {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  outline: none;
  border: 2px solid @bg-color--2;
  border-radius: 3px;
  width: 100%;
}

.share__form-input--text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-input--text::-moz-placeholder { /* Firefox 19+ */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-input--text:-ms-input-placeholder { /* IE 10+ */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-input--text:-moz-placeholder { /* Firefox 18- */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-label {
  color: @pink;
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
}

.share__form-label--checkbox,
.share__form-label--radio {
  cursor: pointer;
  display: inline;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: @text-color;
  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    top: -2px;
    left: -50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.share__form-legend {
  text-align: center;
}

.share__form-remark {
  text-transform: uppercase;
  text-align: center;
}

.share__form-textarea {
  box-sizing: border-box;
  min-height: 280px;
  max-height: 300px;
  width: 100%;
}

.share__intro {
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .share__btn--submit {
    width: 50%;
  }

  .share__form__achievements-fieldset {
    order: 4;
    .wrapper {
      width: @tablet-wrapper-width - 60px;
    }
  }

  .share__form__app-fieldset {
    order: 2;
    .wrapper {
      width: @tablet-wrapper-width - 60px;
    }
  }

  .share__form__comment-fieldset {
    order: 5;
    .wrapper {
      width: @tablet-wrapper-width - 60px;
    }
  }

  .share__form__contacts-fieldset {
    order: 3;
    .wrapper {
      width: @tablet-wrapper-width - 60px;
    }
  }

  .share__form-field--sender {
    display: flex;
  }

  .share__form__fieldset:nth-child(2n) {
    background-color: @bg-color--1;
  }

  .share__form-remark {
    text-align: right;
  }

  .share__form__remark-box {
    order: 6;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .share__form__sender-fieldset {
    order: 1;
    .share__form-input--text {
      display: inline-block;
      flex-grow: 1;
    }

    .share__form-label {
      margin-right: 40px;
      display: inline;
    }
  }

  .share__intro-wrapper {
    max-width: 490px;
  }
}

@media (min-width: @desktop-width) {
  .share__form__fieldset:nth-child(2n) {
    background-color: @bg-color--1;
  }

  .share__form__fieldset {
    .wrapper {
      width: @desktop-wrapper-width;
    }
  }

  .share__form__sender-fieldset {
    display: inline-block;
    width: 50%;
    .wrapper {
      width: @desktop-wrapper-width / 2;
    }
  }

  .share__form__app-fieldset {
    display: inline-block;
    width: 50%;
    .wrapper {
      width: @desktop-wrapper-width / 2;
    }
  }

  .share__intro-wrapper {
    max-width: 760px;
  }
}
