.share {
  padding-top: 40px;
  margin-bottom: 20px;
}

.share__btn--submit {
  background-color: rgb(41, 171, 109);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  width: 280px;
}

.share__form__fieldset {
  padding-top: 40px;
  padding-bottom: 40px;
}

.share__form__fieldset:nth-child(2n) {
  background-color: @bg-color--2;
}

.share__form__header-style {
  color: @pink;
  text-transform: uppercase;
}

.share__form-label {
  color: @pink;
  display: block;
}

.share__form-label--checkbox {
  font-size: 18px;
  line-height: 30px;
  color: @text-color;
}

.share__form-label--radio {
  font-size: 18px;
  color: @text-color;
  line-height: 30px;
}

.share__form-legend {
  text-align: center;
}

.share__form-remark {
  text-transform: uppercase;
}

.share__form-text-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  outline: none;
  border: 2px solid @bg-color--2;
  border-radius: 3px;
}

.share__form-text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-text-input::-moz-placeholder { /* Firefox 19+ */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-text-input:-ms-input-placeholder { /* IE 10+ */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}
.share__form-text-input:-moz-placeholder { /* Firefox 18- */
  color: @text-color;
  font-size: 18px;
  line-height: 30px;
  font-family: @font--main;
}

.share__form-textarea {
  box-sizing: border-box;
  min-height: 280px;
  max-height: 300px;
  width: 100%;
}

.share__intro {
  line-height: 30px;
  text-align: center;
}
