@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "OpenSans Lighter";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans Bold";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@mobile-width: 320px;
@mobile-wrapper-width: 280px;
@tablet-width: 660px;
@tablet-wrapper-width: 620px;
@desktop-width: 1200px;
@desktop-wrapper-width: 1080px;
@font--main: "OpenSans", Arial, sans-serif;
@font--lighter: "OpenSans Lighter", Arial, sans-serif;
@font--bold: "OpenSans Bold", Arial, sans-serif;
@pink: rgb(210, 40, 86);
@bg-color--1: rgb(255, 255, 255);
@bg-color--2: rgb(242, 242, 242);
@text-color: rgb(40, 54, 69);
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@import "blocks/main-header.less";
@import "blocks/download-banner.less";
@import "blocks/promo.less";
@import "blocks/comments.less";
@import "blocks/prices.less";
@import "blocks/contacts.less";
@import "blocks/share.less";
@import "blocks/photos.less";
@import "blocks/gallery.less";
@import "blocks/add-photo.less";
@import "blocks/page-header.less";
@import "blocks/page-footer.less";

body {
  font-family: @font--main;
  color: @text-color;
  font-size: 14px;
  line-height: 24px;
  width: @mobile-width;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-width: 3px;
  border-style: solid;
  font-family: @font--bold;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}

.header--1 {
  box-sizing: border-box;
  font-size: 24px;
  font-family: @font--lighter;
  font-weight: 300;
  text-align: center;
  color: @bg-color--1;
  margin-top: 30px;
  margin-bottom: 30px;
  outline: 1px solid violet;
}

.hidden {
  display: none;
}

.main {
  padding: 0;
  margin: 0;
}

.main--index {
  position: relative;
}

.pink {
  color: @pink;
}

.wrapper {
  width: @mobile-wrapper-width;
  margin: 0 auto;
  outline: 1px dotted red;
}

@media (min-width: @tablet-width) {
  body {
    width: @tablet-width;
  }

  .header--1 {
    font-size: 30px;
    line-height: 40px;
  }

  .wrapper {
    width: @tablet-wrapper-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: @desktop-width;
  }

  .wrapper {
    width: @desktop-wrapper-width;
  }
}
