@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "OpenSans Lighter";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans Bold";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@mobile-width: 320px;
@mobile-wrapper-width: 280px;
@tablet-width: 660px;
@tablet-width-max: 959.9px;
@tablet-wrapper-width: 620px;
@desktop-width: 960px;
@desktop-wrapper-width: 940px;
@font--main: "OpenSans", Arial, sans-serif;
@font--lighter: "OpenSans Lighter", Arial, sans-serif;
@font--bold: "OpenSans Bold", Arial, sans-serif;
@pink: rgb(210, 40, 86);
@bg-color--1: rgb(255, 255, 255);
@bg-color--2: rgb(242, 242, 242);
@text-color: rgb(40, 54, 69);
@border-color: rgb(229, 229, 229);
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@import "normalize.less";
@import "blocks/common-styles.less";
@import "blocks/header-main.less";
@import "blocks/main-header.less";
@import "blocks/intro.less";
@import "blocks/download-banner.less";
@import "blocks/promo.less";
@import "blocks/popup.less";
@import "blocks/comments.less";
@import "blocks/prices.less";
@import "blocks/contacts.less";
@import "blocks/share.less";
@import "blocks/gallery.less";
@import "blocks/add-photo.less";
@import "blocks/page-header.less";
@import "blocks/page-footer.less";
